In [1]:
import pygsp as p

import numpy as np
from numpy.linalg import matrix_rank, inv, pinv
import matplotlib.pyplot as plt

import cv2

from scipy import fft

from scipy.sparse.linalg import eigs
from scipy.linalg import eig

import pandas as pd

In [2]:
from ripser import ripser
from persim import plot_diagrams

In [3]:
data_csv = pd.read_csv('data/weather/weatherAUS.csv')

In [4]:
date = '2015-10-15'
missing_temperatures = {'Newcastle': 26.1, 'Melbourne': 34, 'Albany': 14, 'Katherine': 36.5} 
#Melbourne entre 29-34, Albany entre 14 e 17 e Katherine entre 35 e 38

In [5]:
data_csv = data_csv[['Date', 'Location', 'Temp3pm']]
data_csv = data_csv.loc[data_csv['Date'] == date]

In [6]:
len(list(set(data_csv['Location']))) #temos 49 locais

49

In [7]:
data_csv #note as temperaturas faltando

              Date          Location  Temp3pm
2420    2015-10-15            Albury     31.1
5429    2015-10-15     BadgerysCreek     28.7
8438    2015-10-15             Cobar     31.9
11447   2015-10-15      CoffsHarbour     23.7
14456   2015-10-15             Moree     29.3
17496   2015-10-15         Newcastle      NaN
20499   2015-10-15         NorahHead     22.4
23508   2015-10-15     NorfolkIsland     17.6
26547   2015-10-15           Penrith     29.4
29556   2015-10-15          Richmond     29.2
32900   2015-10-15            Sydney     23.1
35909   2015-10-15     SydneyAirport     25.8
38918   2015-10-15        WaggaWagga     30.2
41927   2015-10-15       Williamtown     26.3
44967   2015-10-15        Wollongong     20.9
48403   2015-10-15          Canberra     27.2
51442   2015-10-15       Tuggeranong     27.6
54482   2015-10-15       MountGinini     19.1
57522   2015-10-15          Ballarat     29.9
60562   2015-10-15           Bendigo     34.1
63571   2015-10-15              Sale     32.0
66580   2015-10-15  MelbourneAirport     33.0
69773   2015-10-15         Melbourne      NaN
72782   2015-10-15           Mildura     36.0
74360   2015-10-15              Nhil     33.3
77369   2015-10-15          Portland     25.0
80378   2015-10-15          Watsonia     32.4
83387   2015-10-15          Dartmoor     33.0
86580   2015-10-15          Brisbane     25.7
89620   2015-10-15            Cairns     27.9
92660   2015-10-15         GoldCoast     24.4
95700   2015-10-15        Townsville     26.1
98893   2015-10-15          Adelaide     35.8
101933  2015-10-15      MountGambier     30.4
104942  2015-10-15         Nuriootpa     34.9
107951  2015-10-15           Woomera     37.4
110991  2015-10-15            Albany      NaN
114000  2015-10-15       Witchcliffe     16.7
117009  2015-10-15        PearceRAAF     19.6
120018  2015-10-15      PerthAirport     18.6
123211  2015-10-15             Perth     19.3
126212  2015-10-15        SalmonGums     21.9
129218  2015-10-15           Walpole     16.6
132411  2015-10-15            Hobart     30.6
135451  2015-10-15        Launceston     23.4
138491  2015-10-15      AliceSprings     37.0
141684  2015-10-15            Darwin     30.9
143262  2015-10-15         Katherine      NaN
144840  2015-10-15             Uluru     38.1